<% layout("/layouts/boilerplate.ejs") %>
<body>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="text-center">
        <h1 class="text-center">
            <div>Welcome to SaaSify...</div>
        </h1>
        <br/>
        <button type="button" class="btn btn-success btn-lg"><a href="/listings" class="text-center text-dark" style="text-decoration: none;">Continue &#8594;</a></button>
    </div>
</body>